.copyright
  display flex
  flex-direction column
  justify-content center
  align-items center
  height 120px
  
  &__text
  &__link
    text-align center
    font(0.875em, 1.2, 500)
    
  &__text
    margin-bottom 10px
    
  &__link
    color $teal
    text-decoration none
    border-bottom 2px solid $teal

    &:hover
      color $orange
      border-bottom 2px solid $orange