.explain
  margin-top -40px
  padding 40px 0
  color $tundora
  text-align center
  
  @media $tablet-desktop
    margin-top 0
    color $white

  @media $tablet-desktop
    background-image url("../img/bg-personal-explain.jpg")
    background-size cover
    background-position center top

  &__title
    margin-bottom 40px
    font(1.875em, 1.2, 700)

  &__text
    margin-bottom 20px
    font(1.5em, 1.2, 400)

  &__fn
    font(1.25em, 1.2, 400)

  &__prohibit
    margin-bottom 40px