.form
  &__label
    width 20%
    min-width 20%
    height 60px
    font(1.5em, 60px, 400)

  &__input
    margin-bottom 10px
    padding 0 25px
    outline none
    border none
    border-radius 5px
    background-color $alabaster
    height 60px
    font(1.5em, 1.5, 400)

    @media $tablet-desktop
      &--s
        width 70%

      &--l
        width 80%

    &:focus
      background-color $white

  &__row
    display flex
    flex-direction column
    
    @media $tablet-desktop
      flex-direction row

  &__unit
    display none

    @media $tablet-desktop
      box-sizing border-box
      display inline-block
      padding-left 20px
      width 10%
      text-align left
      font(1em, 60px, 400)
  
  &__btn
    margin-top 10px

    @media $tablet-desktop
      margin-left 20%
