.order
  padding 40px 0
  color $white
  background-color $eastern-blue

  &__title
    margin-bottom 40px
    text-align center
    font(2em, 1.2, 700, uppercase)
    
    @media $tablet-desktop
      font(3em)

  &__form
    margin auto
    max-width 640px