$white = #ffffff
$black = #000000

$alabaster = #f9f9f9
$mercury = #e1e1e1

$tundora = #434343
$teal = #008f91

$bright-sun = #ffd246
$eastern-blue = #26a8a8
$persian-green = #009495

$orange-peel = #ffa200
$orange = #ff6526

$dove-gray = #666666
$mercury = #e3e3e3
